body {
    display: flex;
}

#employees {
    display: flex;
    flex-direction: column;
}

.employee-info {
    display: flex;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.employee-info label {
    display: block;
}

.employee-info input {
    display: block;
}

#employees button {
    align-self: flex-start;
}

#tips input {
    display: block;
}